<% source =  params[:controller]%>

<h1> <%= source == "users" ? "Sign Up" : "Sign In" %> </h1>

<form action="<%= source == "users" ? users_url : sessions_url %>" method="post">

  <%= render "/shared/token_check" %>

  <label>User Name
    <input type="text" name="user[user_name]" >
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

<input type="submit" value="<%=source == "users" ? "Sign Up" : "Sign In" %>">