<!DOCTYPE html>
<html>
  <head>
    <title>
      <strong>99 Cats | New Cat Rental Request </strong>
    </title>
  </head>

  <body>

    <form action="<%= cat_rental_requests_url %>" method="post">

      <%= render "/shared/token_check" %>
      <!-- :cat_id, :end_date, :start_date, :status -->
      <label> Select Cat
        <select name="cat_rental_request[cat_id]">
          <option value=  > </option >
          <% @all_cats.each do |cat| %>
          <option value=<%= cat.id %>> <%= cat.name %> </option >
          <% end %>
        </select>
      </label>
      <br>

      <label> Start Date
      <input type="date" name="cat_rental_request[start_date]">
      </label>
      <br>

      <label> End Date
      <input type="date" name="cat_rental_request[end_date]">
      </label>
      <br>

      <input type="submit" value="Submit Request">
    </form>
  </body>

</html>