<!DOCTYPE html>
<html>
  <head>
    <title>
      <strong>99 Cats | <%= @cat.persisted? ? "Update" : "New" %> </strong>
    </title>
  </head>

  <body>

    <form action="<%= @cat.persisted? ? cat_url(@cat.id) : new_cat_url %>" method="post">
      <%= render "/shared/token_check" %>

      <%= "<input type='hidden' name='_method' value='PUT'>".html_safe if @cat.persisted? %>

      <label>Name
      <input type="text" name="cat[name]" value="<%= @cat.name %>">
      </label>
      <br>

      <label>Age
      <input type="text" name="cat[age]" value="<%= @cat.age %>">
      </label>
      <br>

      <label for="cat_color">Color</label>
      <br>
      <% Cat::COLORS.each do |color| %>
      <input type="radio" name="cat[color]" id="cat_color_<%= color %>"
      value="<%= color %>" <%= "checked" if @cat.color == color %>>
      <label for="cat_color_<%= color %>"><%= color.capitalize %></label>
      <br>
      <% end %>

      <label for="cat_sex">Sex</label>

        <select name="cat[sex]" id="cat_sex">
          <% Cat::SEX.each do |sex| %>
          <option value=<%= sex %> <%= "selected" if @cat.sex == sex %>> <%= sex %> </option >
          <% end %>
        </select>
        <br>

      <label for="cat_birth_date">Birth Date
      <input type="date" name="cat[birth_date]" value=<%= @cat.birth_date %>>
      </label>
      <br>

      <input type="submit" value=<%= @cat.persisted? ? "Update Cat" : "Create Cat" %>>
    </form>
  </body>

</html>