<% if current_user.nil? %>
  <ul>
    <li><%= button_to "Sign In", new_sessions_url, method: :get %></li>
    <li><%= button_to "Sign Up", new_user_url, method: :get %></li>
  </ul>
<% end %>

<br>
<br>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= link_to cat.name, cat_url(cat.id) %>
    </li>
  <% end %>
</ul>
