<!DOCTYPE html>
<html>
  <head>
    <title>
      <strong> <%= @cat.name %> </strong>
    </title>
  </head>

  <body>

    <table>
      <thead> <%=@cat.name%>'s Attributes </thead>
      <th>Age</th>
      <th>Birth Date</th>
      <th>Color</th>
      <th>Sex</th>
      <tr>
        <td> <%= @cat.age %> </td>
        <td> <%= @cat.birth_date %> </td>
        <td> <%= @cat.color %> </td>
        <td> <%= @cat.sex %> </td>
      </tr>
    </table>

    <br>

    <table>
      <thead> <%=@cat.name%>'s Requests </thead>
      <th colspan=2>Dates</th>

      <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
        <tr>
          <td> <%= request.start_date %> </td>
          <td> <%= request.end_date %> </td>

          <% if request.pending? && current_user && @cat.user_id == current_user.id %>
            <td> <%= button_to "Approve", approve_cat_rental_request_url(request.id), :method => :put %></td>
            <td> <%= button_to "Deny", deny_cat_rental_request_url(request.id), :method => :put %></td>
          <% end %>

        </tr>
      <% end %>

    </table>

  </body>

</html>
