<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <% if current_user %>
      <li>Logged in as: <%= current_user.user_name %></li>
      <li><%= button_to "Logout", sessions_url, :method => :delete %></li>
    <% end%>
  <ul>

<%= yield %>

</body>
</html>
